<table>
  <tr>
    <th>Term</th>
    <th>Transliteration</th>
    <th>Definition</th>
  </tr>
  <%if @flashcards%>
    <% @flashcards.each do |card| %>
      <tr>
        <td><%=link_to card.front, flashcard_path(card) %></td>
        <td><%= card.transliteration%></td>
        <td><%= card.back%></td>
      </tr>
    <%end%>
  <%end%>
  <p><%= link_to("Add a new flashcard", {:action => 'new'}) %></p>
</div>
