<h2>Study your flashcards!</h2>
<p class="word"><td><%= @flashcard_shuffled.front %></td></p>
<p class="button"><%= link_to "Randomise", flashcards_study_path %></p>
<p><%= link_to "Back", flashcards_index_path %></p>